.button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-font-size: 15px;
}

#clear_button:hover {
    -fx-text-fill: red;
}

.button:hover {
    -fx-text-fill: rgba(94, 147, 203); /* R:94 G:147 B:203 색상 */
    -fx-font-size: 16px;
}

.old-price {
    -fx-font-size: 15px;
    -fx-text-fill: gray;
    -fx-strikethrough: true;
}